html {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    background: url('../img/Vegas_bg_desktop.jpg') no-repeat;
    background-size: cover;
    background-color: #ccc;
    position: relative;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: 2px;
}

* {
    box-sizing: border-box;
}

a.btn {
    max-width: 272px;
    width: 100%;
    display: inline-block;
}
a.tablet__btn{
    display: none;
}
.button {
    border-radius: 0px;
    width: 100%;
    height: 48px;
    background: #ff0078;
    font-size: 21px;
    border: 0;
    font-weight: bold;
    outline: 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.button:focus {
    outline: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    align-self: center
}

.hero h1, .hero h2, .hero h3, .hero span {
    text-align: center;
    font-size: 5rem;
    margin: 0px auto;
    font-family: Montserrat;
    color: #ffffff;
}

.hero h1 {
    margin: 17px 0 2px;
}

.hero span {
    font-weight: 800;
    font-size: 2.3rem;
    margin-top: 100px;
}

.hero h3 {
    font-size: 26px;
    font-weight: 600;
    font-family: Montserrat, Arial, sans-serif;
    margin-bottom: 11px;
    line-height: 1.3;
    color: #fcd411;
}

.hero .logo {
    width: 132px;
    height: 51px;
    background: url('../img/Logo.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 84px;
}

.hero__inner {
    max-width: 1350px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0 70px;
    margin-top: 43px;
}

.hero__inner > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left__container{
    background: rgba(1,3,15,0.5);
    background: -moz-linear-gradient(left, rgba(1,3,15,0.5) 0%, rgba(17,4,50,0.55) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,3,15,0.5)), color-stop(100%, rgba(17,4,50,0.55)));
    background: -webkit-linear-gradient(left, rgba(1,3,15,0.5) 0%, rgba(17,4,50,0.55) 100%);
    background: -o-linear-gradient(left, rgba(1,3,15,0.5) 0%, rgba(17,4,50,0.55) 100%);
    background: -ms-linear-gradient(left, rgba(1,3,15,0.5) 0%, rgba(17,4,50,0.55) 100%);
    background: linear-gradient(to right, rgba(1,3,15,0.5) 0%, rgba(17,4,50,0.55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01030f', endColorstr='#110432', GradientType=1 );
    width: 582px;
    height: 307px;
}

.left__container h2{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-top: 15px;
}

.left__container h2:before{
    content: "";
    display: block;
    width: 18px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: -26px;
    top: 50%;
}

.left__container h2:after{
    content: "";
    display: block;
    width: 18px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: -26px;
    top: 50%;
}

.hero .left__container {
    margin-right: 61px;
    margin-top: 52px;
}

.hero .right__container{
    width: 566px;
    height: 426px;
}
.hero .right__container img{
    width: 136%;
}

.hero .button {
    margin-top:20px;
    margin-bottom:28px;
}

.steps {
    flex-direction: row;
    color: #fff;
    margin-top: 70px;
}

.step {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.step p {
    font-size: 1.2vw;
    font-weight: 700;
    margin-right: 30px;
}

.step--1 {
    border-right: 1px solid #818f8f;
    margin-left: 75px;
}

.step--2 {
    border-right: 1px solid #818f8f;
    z-index: 1;
    margin-left: 42px;
}

.step--3 {
    margin-left: 33px;
}

.stepIcon {
    font-family: Montserrat, Arial, sans-serif;
    margin-right: 20px;
    font-size: 60pt;
    font-weight: 300;
    color: #fcd411;

}

@media (max-height: 800px) {
    .hero__inner {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    
    .hero span{
        font-size: 3vw;
    }

    .left__container h2{
        font-size: 2vw;
    }

    .left__container h2:before{
        font-size: 2vw;
    }

    .left__container h2:after{
        font-size: 2vw;
    }

    .left__container h1{
        font-size: 8vw;
    }

    .left__container h3{
        font-size: 2vw;
    }

    .hero .right__container img{
        width: 151%;
    }

    .stepIcon{
        font-size: 7vw;
    }
}

@media (min-width: 768px) and (max-width: 1132px) {

    .hero .left__container{
        margin-right: 20px;
    }
    .step p{
        margin-right: 7px;
    }

    .step--1{
        margin-left: 40px;
    }

    .step--2{
        margin-left: 25px;
    }

    .step--3{
        margin-left: 25px;
    }

    .steps{
        margin-top: 80px;
    }

    .right__container img{
        margin-top: 8px;
    }

}

@media (min-width: 560px) and (max-width: 768px) {
    html {
        height: 1024px;
    }
    body {
        height: 1024px;
        background-image: url('../img/vegas_bg_tablet.jpg');
    }
    .hero .hero__inner {
        align-items: center;
        flex-direction: column;
    }

    .hero span{
        font-size: 5vw;
        margin-top: 133px;
    }

    .hero .left__container {
        margin-right: -10px;
        margin-top: 15px;
        height: 260px;
    }

    .hero h1{
        margin: 0 auto;
    }

    .hero .button {
        margin-top: 0;
    }

    .left__container h2{
        font-size: 3.5vw;
    }

    .left__container h2:before{
        font-size: 3.5vw;
    }

    .left__container h2:after{
        font-size: 3.5vw;
    }

    .left__container h1{
        font-size: 12vw;
    }

    .left__container h3{
        font-size: 5vw;
    }

    .steps{
        margin-top: 0;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .step{
        margin: 10px;
    }

    .step p{
        font-size: 3vw;
        margin-right: 0;
    }

    .stepIcon{
        margin-right: 40px;
    }

    .step--1{
        border-right: none;
        margin-left: 10px;
    }

    .step--1 p{
        margin-left: 7px;
    }

    .step--2{
        border: none;
        margin-left: 0;
        margin-left:
    }

    .step--3{
        margin-left: 0;
    }

    .hero .right__container{
        height: 290px;
        width: 500px;
    }

    .hero .right__container img{
        width: 100%;
        margin-top: 0;
        margin-right: 20px;
    }

    .hero__inner{
        margin-top: 0;
    }

    .hero 

}

@media (max-width: 560px) {
    html {
        height: 1004px;
    }

    body {
        height: 1004px;
        background-image: url('../img/vegas_bg_mobile.jpg');
    }

    .hero .hero__inner {
        align-items: center;
        margin-top: 48px;
        flex-direction: column;
        padding: 0 15px;
    }
    .hero .left__container {
        padding: 2%;
        height: 300px;
        width: 305px;
        margin-top: 0px;
        margin: 0;
    }

    .hero .logo {
        top: 20px;
        left: 25px;
        width: 93px;
    }
    .hero span{
        margin-top: 93px;
        font-size: 24px;
    }

    .left__container h2{
        margin-top: -6px;
        font-size: 15px;
    }

    .hero h3{
        font-size: 22px;
    }

    .hero .right__container{
        height: 337px;
        margin-right: 41px;
        width: 356px;
    }

    .hero .right__container img{
        width: 100%;
        margin-bottom: 80px;
    }

    .steps{
        margin-top: -97px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .step{
        margin: 10px;
    }

    .step p{
        font-size: 3vw;
        margin-right: 0;
    }

    .step--1{
        border-right: none;
        margin-left: 10px;
    }

    .step--1 p{
        margin-left: 7px;
    }

    .step--2{
        border: none;
        margin-left: 0;
        margin-left:
    }

    .step--3{
        margin-left: 0;
    }

}

@media (max-width: 320px) {
    
}
